.main{
    width: 100%;
    height: 60px;
    background-color: rgb(104, 38, 158);

}

.d1{
    font-size: 30px;
    color: white;
}

.d2{
    font-size: 25px;
    color: white;
}



.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./pic/564931.jpg);
    background-size: cover;
    background-position: center;
}


.navbar{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 180px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.content{
    width: 20%;
    position: absolute;
    top: 70%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}
.p{
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    /* background: #087066; */
    color: rgb(7, 38, 139);
    cursor: pointer;
}
